.menu{
    background-color: #cecaca;
    padding: 10px 20px;
    margin-top: 0;
}

.menu li{
   padding: 5px;
    display: inline-block;
    width: 13rem;
    text-decoration: none; 
    cursor: pointer;
    list-style-type: none;
}

.menu li:hover{
    font-weight: bold;
    color: rgba(9, 9, 172, 0.733);
    text-decoration: underline;
}